<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <!--[if IE]> 
		<h1>请使用谷歌浏览器 <br />
		或者360浏览器切换到极速模式! <br />
		当前其他版本浏览器未经测试 <br />
		可能布局会存在问题 <br />
		</h1>
	<![endif]-->
  <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
  <div class="visible">
    {{ content }}
  </div>
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ " /assets/js/prism.js" | relative_url }}"></script>
  <script src="{{ " /assets/js/index.min.js" | relative_url }}"></script>
</body>

</html>